* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.container {
  padding: 40px 170px 100px 170px;
}

.home-link {
  display: block;
  width: 60px;
  text-align: center;
  margin-bottom: 40px;
  text-decoration: none;
  font-size: 20px;
  color: #a6ad17;
  transition: color 0.2s ease;
}

.home-link:hover {
  color: #333;
}

.title {
  margin-bottom: 30px;
  font-size: 45px;
}

img {
  display: block;
  width: 60%;
  height: auto;
  margin-bottom: 30px;
}

section {
  width: 700px;
  margin: 60px 0;
}

section h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

section ul,
ol {
  list-style-position: inside;
}

section li::marker {
  color: #a6ad17;
}
